* {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
}

.panel img {
  max-height: 3.5rem;
}

.NavMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgba(11, 11, 11, 0.742);
  z-index: 9;
  border-radius: 0 0 0 10%;
  right: 0;
  color: white;
  min-height: 40vh;
}

.NavMenuDark {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgba(107, 0, 128, 0.171);
  z-index: 9;
  border-radius: 0 0 0 10%;
  right: 0;
  color: white;
  min-height: 40vh;
}

.NavMenuDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 7.5rem;
}
.NavMenuButton{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.25rem;
  background: none;
  border: none;
  color: white;
}
.link{
  text-decoration: none;
  color: rgba(11, 11, 11, 0);
  padding: 1rem;
  text-align: center;
}

.link:hover {
  color: white;
}

.galleryIcon {
  border: solid white 0.15rem;
  border-radius: 10%;
  max-height: 3.5rem;
  padding: 0.5rem;
}

.homeIcon {
  border: solid white 0.15rem;
  border-radius: 10%;
  max-height: 3.5rem;
  padding: 0.5rem;
}

.navToggleBtn {
  max-height: 2.5rem;
}